/* .c1 {
    background-color: blue;
}

.c2 {
    background-color: brown;
} */

body {
    background-color: rgb(255, 242, 224);
}

.table_container {
    background-color: #fff;
    border-radius: 5px;
}

.red {
    background-color: rgb(255, 138, 138);
}

.green {
    background-color: rgb(178, 255, 205);
}